nav {
    color: white;
    padding: 3px;
    font-size: 20px;
    background-color: rgb(24, 155, 9);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    list-style: none;
    text-align: center;
    padding: 5px;
}

nav ul li:hover{
    background-color: rgb(226, 219, 0);
    color: white;
    border-radius: 20px;
    
}

nav ul li:active {
    background-color: rgb(0, 0, 0);
}